.particles-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
}

.particles-container canvas {
  width: 100% !important;
  height: 100% !important;
}